div.tooltip {
    position: absolute;
    text-align: center;
    width: 250px;
    height: 150px;
    padding: 2px;
    background: white;
    border: 1px solid;
    pointer-events: none;
    line-height: normal;
    border-radius: 4px;
}
div.tooltip2 {
    position: absolute;
    text-align: center;
    width: 250px;
    height: 100px;
    padding: 2px;
    background: white;
    border: 1px solid;
    pointer-events: none;
    line-height: normal;
    border-radius: 4px;
}
span{
	font-weight: normal;
}

h3 {
    text-align: left;
    font-size: 18;
    padding: 0 0 0 4;
   
    margin-bottom: 7;
    font-weight: bold;
    text-transform: uppercase;
}
p{
	text-align: left;
	 padding: 0 0 0 4;
}

h4{
	font-size: 14;
	 padding: 0 0 0 4;
	 text-align: left;
	 margin: 0;
	     font-weight: bold;
	 margin-bottom:7;
}
.label{
	margin-right: 10px;
	margin-left: 10px;
}
#Y{
	margin-left: 30px;
}

* {
 font-family: Helvectica, sans-serif;
}

*, ::after, ::before {
    box-sizing: content-box; 
}
body{
   line-height: none;
}

