div.tooltip {
    position: absolute;
    text-align: center;
    width: 175px;
    height: 45px;
    padding: 2px;
    background: white;
    border: 1px solid;
    pointer-events: none;
    line-height: normal;
}


ul {
    list-style-type: none;
    margin-right: 6;
    margin-left: 6;
    margin-top: 5;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    text-align: left;
    padding-left: 5;
    font-size: 10   ;
    margin-top: 2;
}

h3 {
    text-align: left;
    font-size: 12   ;
    padding: 0 0 0 3;
    margin: 0;
    font-weight: bold;
}

#b{
  
    font-size: .875rem;
    margin-right: 10;
    margin-left: 10px;
}
#slider-step{
    margin-left: 10;
}


* {
 font-family: Helvectica, sans-serif;
}

*, ::after, ::before {
    box-sizing: content-box; 
}
body{
   line-height: none;
}